
$darkPurple: #6264A7;
$lightPurple:#F4F4FC;
$textGray: #484644;
$mainFont: 'Microsoft Sans Serif';
$hoverColor: rgb(209, 209, 236);

* {margin:0;padding:0;}

body {
    background-color: #faf9f8;
}

form {
    border: solid $textGray 2px;
    padding: 10px;
}

//Toggle account type style
.pill-82 {
    background-color: $darkPurple;
    &:hover {
        background-color: $darkPurple; 
    }
}


@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@mixin flexInputRow {
    display: flex;
    justify-content: center;
}

@import "./pages/login";
@import "./pages/tickets";
@import "./pages/dashboard.scss"



// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #09d3ac;
// }
