.mainDiv {
    @include flexCenter();
    flex-direction: column;

    h1 {
        color: $textGray;
        font-family: $mainFont;
        text-align: center;
        // text-decoration: underline;
        margin-bottom: 4px;
    }
}

.buttonDiv {
    display: flex;
    padding: 8px;
    width: 40vw;

    

    button {
        width: 50vw;
        margin: 7px;
        font-weight: bold;
        padding: 20px;
        
        
    }

}

#signUpButton {
    background-color:$darkPurple;
        
    &:hover {
        opacity:0.7;
    }
}


#loginButton {
    background-color:$lightPurple;
    &:hover {
        background-color: $hoverColor;
    }
}

// SIGN UP COMPONENT STYLES
#submitSignUp {
    width: 9vw;
    background-color:$darkPurple;
        
    &:hover {
        opacity:0.7;
    }
}

.loginOrSignUpInput {
    width: 25vw;
    margin-bottom: 11px;
}



// .submitButtonDiv {
//     display: flex;
//     justify-content: center;
// }


