.flexInputs {
    @include flexInputRow;
    width: 45vw;
        div {
            // margin-right: 10px;
            width: 100%;

            &:nth-child(1) {
                margin-right: 7px;
            }

            &:nth-child(2) {
                margin-right: 7px;
            }

            input {
                // width: 100%;
            }
        }
}

.submitTicket {
    
    background-color:$darkPurple;
        
    &:hover {
        background-color: $hoverColor;;
    }
    
}

div.ticketButtonDiv {
    margin-top: 7px !important;
}

.ticketCard {
    max-width: 20vw;
    max-height: 25vh;
    min-width: 20vw;
    min-height: 20vh;
}

.root-61 {
    margin-left: 5px;
}