.mainDashboardDiv {
    display: flex;
    justify-content: center;
    height: 95.9vh;
    
    
}

.ticketCard {
    margin: 20px;
}

#dashboardMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    width: 85vw;
}
#dashboardMainCreate{
    display: flex;
    justify-content:center;
    align-items: center;
    // overflow-y: auto;
    width: 85vw;
    
}



.cardButton {
    background-color:$darkPurple;
        
    &:hover {
        // opacity:0.7;
        background-color: $hoverColor;
        color: $textGray;
    }
}